<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance</title>
</head>
<body>
    <nav class="navbar">
        <ul class="nav-links">
          <li><a href="Fitness.html">Fitness</a></li>
          <li><a href="Goals.html">Goals</a></li>
          <li><a href="/Habit.html">Habits</a></li>
          <li><a href="Stats.html">Stats</a></li>
          <li><a href="Finance.html">Finance</a></li>
        </ul>
      </navbar>

    <p>Finances</p>
</body>
</html>