<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>FITNESS</h1>
    <button class="Add">Add Meal</button>
    <button class="Add">Add Workout</button>
    <nav class="navbar">
      <a href="Stat.html">Stats</a>
      <a href="Goal.html">Goals</a>
      <a href="Habit.html">Habits</a>
      <a href="Fitness.html">Fitness</a>
      <a href="Finance.html">Finance</a>
    </navbar>
</body>
</html>