<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goals</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>GOALS</h1>
    <div class="tracked-container" id="goal-container">
        <button id="addGoalButton">Add Goal</button>
    </div>

    <nav class="navbar">
      <a href="Stat.html">Stats</a>
      <a href="Goal.html">Goals</a>
      <a href="Habit.html">Habits</a>
      <a href="Fitness.html">Fitness</a>
      <a href="Finance.html">Finance</a>
  </navbar>
</body>
</html>