<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tracker</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <h1>HABITS</h1>

  <div class="tracked-container" id="habit-container">
    {% for habit in habits %}
    <div class="tracked-item">
      <h3>{{ habit['Name'] }} </h3>
      <p>{{ habit['Unit'] }} </p>

      <p>{{ habit['Increment'] }}</p>
      <p>Streak: {{ habit['Streak'] }}</p>
      
      <p>Counter: </p>
      <!-- <button onclick="decrementCounter({{ habit['id'] }}')">-</button> -->
      <p>{{ habit['Progress'] }} // {{ habit['Goal'] }} </p>
      <!-- <button onclick="incrementCounter('{{ habit['id'] }}')">+</button> -->

      <a href="ManageHabit.html?id= {{habit.id}} ">Edit</a>
    </div>
    {% endfor %}
    <a href="AddHabit.html">Add Habit</a>
  </div>

  <nav class="navbar">
      <a href="Stat.html">Stats</a>
      <a href="Goal.html">Goals</a>
      <a href="Habit.html">Habits</a>
      <a href="Fitness.html">Fitness</a>
      <a href="Finance.html">Finance</a>
  </navbar>

  <script src="/static/script.js"></script>
</body>
</html>
