<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Habit</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="top-container">
        <a href="/Habit.html">Return</a>
        <h1>MANAGE HABIT</h1>
    </div>
    
    <div class="habit-info-container">
        <form action="/editHabit" method="POST">
            <label for="habit">Habit Name:</label>
            <input type="text" id="name" name="habit" value="{{habitName}}" required><br>

            <label for="goal">Goal:</label>
            <input type="number" id="goal" name="goal" value="{{habitGoal}}" required><br>

            <label type="text">Increment:</label>
            <input type="number" id="increment" name="increment" value="{{habitIncrement}}" required><br>

            <label for="unit">Unit:</label>
            <input type="text" id="times" name="times" value="{{habitUnit}}" required><br>
            
            <!-- Edit color feature 
            <label for="color">Color:</label>
            <select name="color" id="color" value=""{{habitColor}} required>
                <option value="red">red</option>
                <option value="orange">orange</option>
                <option value="yellow">yellow</option>
                <option value="green">green</option>
                <option value="blue">blue</option>
                <option value="purple">purple</option>
                <option value="pink">pink</option>
                <option value="brown">brown</option> 
            </select> -->

            <button type="submit">Save Changes</button>
        </form>

        <form action="/deleteHabit" method="POST">
            <button type="submit">Delete Habit</button>
        </form>
    </div>

    <br>
    <div class="calendar">
        <div class="header">
          <button onclick="window.location.href='/ManageHabit/{{ current_date.year }}/{{ current_date.month - 1 if current_date.month > 1 else 12 }}'">&lt;</button>
          <h1>{{ calendar_data.month_year }}</h1>
          <button onclick="window.location.href='/ManageHabit/{{ current_date.year }}/{{ current_date.month + 1 if current_date.month < 12 else 1 }}'">&gt;</button>
        </div>
        <div class="days">
          <div>Sun</div>
          <div>Mon</div>
          <div>Tue</div>
          <div>Wed</div>
          <div>Thu</div>
          <div>Fri</div>
          <div>Sat</div>
        </div>
        <div class="dates" style="display: grid; grid-template-columns: repeat(7, 1fr);">
          {% for _ in range(calendar_data.first_weekday) %}
            <div></div>
          {% endfor %}
          
          {% for day in calendar_data.days %}
            <div class="{{ day.status }}">
              {{ day.day }}
            </div>
          {% endfor %}
        </div>
      </div>

</body>
</html>